Source: ros-fuerte-sbpl
Section: misc
Priority: extra
Maintainer: E. Gil Jones <gjones@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), cmake
Homepage: http://www.ros.org
Standards-Version: 3.9.2

Package: ros-fuerte-sbpl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cmake
Description: Search-based Planning Library (SBPL)

