Source: ros-groovy-sbpl
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@willowgarage.com>, E. Gil Jones <gjones@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-ros-comm,ros-groovy-catkin,cmake,pkg-config
Homepage: http://www.ros.org
Standards-Version: 3.9.2

Package: ros-groovy-sbpl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-ros-comm
Description: Search-based Planning Library (SBPL)

